{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="text/css" href="{% static 'recipes/css/styles.css' %}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'recipes/images/favicon.ico' %}" type="image/x-icon"/>

</head>
<body>
    <!-- блок хедер -->
    <header class="page-header">
    <a href="{% url 'home' %}">
        <img src="/media/default_images/logo.png" title="Главная страница" class="logo" width="50px" height="50px">
    </a>

    <div class="site-name">ВкусноСам</div>
    <div class="deviz">Ещи, делись, готовь!</div>

    <!-- Отображение сообщений -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if user.is_authenticated %}
        <!--   Форма для выхода из аккаунта     -->
        <form method="post" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <button type="submit">Выйти</button>
        </form>
        <p><a href="{% url 'users:profile' %}">Профиль {{user.username}}</a></p>
        <p><a href="{% url 'create_recipe' %}">Добавить рецепт!"</a></p>
    {% else %}
        <p><a href="{% url 'users:login' %}">Авторизация</a></p>
        <p><a href="{% url 'users:register' %}">Регистрация</a></p>
    {% endif %}
    {% if user.is_superuser %}
        <a href=" {% url 'admin:index' %} ">Админка</a>
    {% endif %}
    </header>
    <!-- конец блока хедер -->

<!--  Sidebar слева  -->
    <aside class="sidebar-left">
        Левый sidebar


    </aside>
<!-- конец левого Sidebar -->
<!-- Блок контента-->
<div class="content">
    {% block content %}
    {% endblock %}
</div>
<!--Конец блока контента-->

<!--Футер-->
<footer>
   <div id="footer">
		<p class="footer-text">&copy; Все права на материалы, находящиеся на сайте www.VkusnoSam.com, охраняются в соответствии с действующим законодательством. При любом использовании материалов сайта
, гиперссылка (hyperlink) на www.VkusnoSam.com обязательна. Администрация сайта не несет ответственности за результат применения приведенных кулинарных рецептов, методик их приготовления,
кулинарных и прочих рекомендаций, работоспособность ресурсов, на которые размещены гиперссылки, и за содержание рекламных объявлений. Администрация сайта может не разделять мнения авторов статей,
размещённых на сайте www.VkusnoSam.com e-mail info@VkusnoSam.com.</p>
	</div>
</footer>
<!--конец футера и страницы-->
</body>
<script type="text/javascript" src='{% static "recipes/js\forSite.js" %}'></script>
</html>