{% load static %}
{% load recipe_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="text/css" href="{% static 'recipes/css/styles.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'recipes/css/normalize.css' %}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'recipes/images/favicon.ico' %}" type="image/x-icon"/>

</head>
<body>
    <!-- блок хедер -->
    <header class="page-header">
    <a href="{% url 'home' %}">
        <img src="/media/default_images/logo.png" title="Главная страница сайта"
             alt="Логотип сайта" class="logo">
    </a>

    <div class="site-name">ВкусноСам</div>
    <div class="deviz">Ищи, делись, готовь!</div>

    <!-- Отображение сообщений -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <!--     Блок навигации    -->
    <nav class="nav-block">
        {% if user.is_authenticated %}
            <p><a href="{% url 'users:profile' %}" class="username" data-tooltip="Детальная информация о пользователе">Профиль {{user.username}}</a></p>
            <!--   Форма для выхода из аккаунта     -->
            <form method="post" action="{% url 'users:logout' %}">
                {% csrf_token %}
                <button type="submit" class="exit">Выйти</button>
            </form>

        {% else %}
            <p><a href="{% url 'users:login' %}">Авторизация</a></p>
            <p><a href="{% url 'users:register' %}">Регистрация</a></p>
            <p ><a href="{% url 'users:password_reset' %}">Забыли пароль?</a></p>
        {% endif %}
        {% if user.is_superuser %}
            <a href=" {% url 'admin:index' %}" class="admin">Админка</a>
        {% endif %}
    </nav>
    </header>
    <!-- конец блока хедер -->

<!-- Блок контента-->
<main class="content">
    {% block content %}
    {% endblock %}
</main>

{% block navigation %}
{% endblock %}

<!--Конец блока контента-->

<!--Футер-->
<footer>
   <div id="footer">
		<p class="footer-text">&copy; Все права на материалы, находящиеся на сайте www.VkusnoSam.com, охраняются в соответствии с действующим законодательством. При любом использовании материалов сайта
, гиперссылка (hyperlink) на www.VkusnoSam.com обязательна. Администрация сайта не несет ответственности за результат применения приведенных кулинарных рецептов, методик их приготовления,
кулинарных и прочих рекомендаций, работоспособность ресурсов, на которые размещены гиперссылки, и за содержание рекламных объявлений. Администрация сайта может не разделять мнения авторов статей,
размещённых на сайте www.VkusnoSam.com e-mail info@VkusnoSam.com.</p>
	</div>
</footer>
<!--конец футера и страницы-->
</body>
<script type="text/javascript" src='{% static "recipes/js/forSite.js" %}'></script>
</html>