{% extends 'base.html' %}
{% block content %}
<!-- Профиль пользователя -->
<div class="profile">
    <h1>Профиль {{user.username}}</h1>
    <section aria-label="Профиль пользователя">
    <form method="post" enctype="multipart/form-data" class="profile-form">
            {% csrf_token %}
            {% if user.avatar %}
                <p><img src="{{ user.avatar.url }}"></p>
            {% else %}
               <p><img src="/media/default_images/no_image.jpeg"></p>
            {% endif %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <p><button type="submit" class="profile-form-button-save">Сохранить</button></p>
    </form>
    </section>
    <hr>

    <!-- Список рецептов пользователя -->
    <section aria-label="Список ваших рецептов">
        <h2>Ваши рецепты: </h2>
        {% if users_recipes %}
            <ul>
                {% for recipe in users_recipes %}
                    {% if recipe.image %}
                            <li><a href="{% url 'update_recipe' slug=recipe.slug %}">{{recipe.name}}</a>
                                <figure>
                                    <a href="{% url 'update_recipe' slug=recipe.slug %}">
                                        <img src="{{ recipe.image.url }}" style="width=50px" height="50px"
                                             alt="{{recipe.name}}">
                                    </a>
                                </figure>
                            </li>
                    {% else %}
                            <li>
                                <a href="{% url 'update_recipe' slug=recipe.slug %}">
                                    <figure>
                                        <img src="/media/default_images/no_image.jpeg" style="width=50px" height="50px"
                                             alt="Нет изображения">
                                        {{recipe.name}}
                                    </figure>
                                </a>
                            </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <h3>У вас нет опубликованных рецептов</h3>
            {% endif %}
    </section>
    <br>

    <!-- Комментарии пользователя -->
    <section aria-label="Ваши комментарии">
        <h2>Ваши комментарии: </h2>
        {% if users_comments %}
            {% for comm in users_comments %}
                <div class="comment">
                    <p>Комментарий к рецепту: <a href="{{comm.recipe.get_absolute_url}}">{{comm.recipe}}</a></p>
                    <p>{{comm.content|linebreaks|truncatewords:15}}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>У вас нет комментариев.</p>
        {% endif %}
    </section>
    <hr>
    <!-- Смена пароля -->
    <nav>
    <div class="change-password">
        <p><a href="{% url 'users:password-change' %}">Сменить пароль?</a></p>
    </div>
    </nav>
</div>
{% endblock %}