{% extends 'base.html' %}


{% block content %}
    <h1>Профиль {{user.username}}</h1>
<form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if user.avatar %}
            <p><img src="{{ user.avatar.url }}"></p>
        {% else %}
           <p><img src="/media/default_images/no_image.jpeg"></p>
        {% endif %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <p><button type="submit">Сохранить</button></p>
</form>
<hr>
<p><a href="{% url 'home' %}">На главную</a></p>
<hr>
<h2>Ваши рецепты: </h2>
{% if users_recipes %}
    {% for recipe in  users_recipes %}
        {% if recipe.image %}
            <p><img src="{{ recipe.image.url }}" style="width=50px" height="50px">
                <a href="{{ recipe.get_absolute_url  }}">{{recipe.name}}</a></p>
        {% else %}
            <p><img src="/media/default_images/no_image.jpeg" style="width=50px" height="50px">
                <a href="{% url 'update_recipe' slug=recipe.slug %}">{{recipe.name}}</a></p>
        {% endif %}
    {% endfor %}
{% endif %}
<br>
<h2>Ваши комментарии: </h2>
{% for comm in users_comments %}
    <p>Комментарий к рецепту: <a href="{{comm.recipe.get_absolute_url}}">{{comm.recipe}}</a></p>
    <p>{{comm.content|linebreaks|truncatewords:15}}</p>
{% endfor %}

{% endblock %}