{% extends 'base.html' %}

{% block content %}
<div class="category-recipes">
    <nav aria-label="Категории рецептов">
            <strong>Категории рецептов:</strong>
            <a href="{% url 'tag_cloud_by_category' %}">Все </a>
            {% for cat_tag in categorys_tags %}
                <a href='{{ cat_tag.get_absolute_url }}'>{{ cat_tag.name }}
            {% endfor %}
                </a>
     </nav>

    <section aria-label="Облако тегов">
        {% if category_tag %}
            <h2> Теги для: "{{category_tag.name}}"</h2>
        {% else %}
            <h2>Все теги для всех категорий блюд: </h2>
        {% endif %}
        {% if tags %}
            {% for tag in tags %}
                <a href="{% url 'tagged_recipes' tag_slug=tag.slug %}" class="tag-{{ tag.weight }}">
                    {{ tag.name }} ({{ tag.num_times }})
                </a>
                {% if not forloop.last %} | {% endif %}
            {% endfor %}
         {% else %}
                <h3>Пока нет тегов</h3>
        {% endif %}
    </section>
</div>
{% endblock %}
