{% extends 'base.html' %}

{% block content %}
<div class="update-recipe">
    <section aria-label="Изменение рецепта">
        <h2>Изменение рецепта: </h2>
        <form method="post" enctype="multipart/form-data" id="update-recipe-form">
            {% csrf_token  %}
            <div class="form-error">{{ form.non_field_errors }}</div>
                {% if form.instance.image %}
                    <div class="current-image">
                        <img src="{{ form.instance.image.url }}" alt="Текущее изображение рецепта">
                        <div class="current-image-info">
                            Текущее изображение
                            <label class="replace-image">
                                Заменить <input type="file" name="image" style="display:none;">
                            </label>
                        </div>
                    </div>
                    {% else %}
                    <div class="image-upload">
                        <label for="new-image">Добавить изображение:</label>
                        <input type="file" name="image" id="new-image" accept="image/*">
                    </div>
                {% endif %}
            {% for f in form %}
                {% if f.name != 'image' %}
                    <p><label class="form-label-update-recipe" for="{{ f.id_for_label }}">{{f.label}}</label> {{ f }}</p>
                    <div class="form-error">{{ f.errors }}</div>
                {% endif %}
            {% endfor %}
            <hr>
            <h3>Пошаговое описание рецепта: </h3>
            <p class="step_preparing">1 шаг приготовления: </p>
            <div id="formsContainer">
                <div
                    class="form-error">{{ form.non_field_errors }}
                </div>
                <div class="form-group">
                {% for f in recipe_step_preparing_form %}
                    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
                    <div class="form-error">{{ f.errors }}</div>
                {% endfor %}
                </div>
                    <p><button type="button" id="addStep">Добавить следующий шаг</button></p>
            </div>
            <hr>
            <p><button type="submit" class="update-recipe-button-save">Сохранить</button></p>
        </form>
    </section>
    <hr>
    <nav class="nav-block-update-recipe">
        <p><a href="{% url 'home' %}">На главную</a></p>
        <p><a href="{% url 'users:profile' %}">Обратно в профиль</a></p>
        <p><a href="{% url 'delete_recipe' slug=recipe.slug %}">Удалить рецепт!</a></p>
    </nav>
</div>
{% endblock %}